
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="profile_page">

      <div class="profile_page_infos">
        <p><strong>First name:</strong> <%= current_user.f_name %> </p>
        <p><strong>Last name:</strong> <%= current_user.l_name %> </p>
        <p><strong>Email:</strong> <%= current_user.email %> </p>



        <!-- add edit profile button -->
        <%= link_to "Edit profile", edit_user_registration_path(current_user), class: "buttonNoFill" %>
        <div class="profile_page_photo" style="background-image: url('<%= current_user.photo %>')"> </div>
      </div>
    </div>
  </div>
</div>


