<!-- SECTION 3: STATISTICS -->

<div class="banner201 img201-2">
  <h1>Get insights about the neighbourhood <br>from locals!</h1>
</div>

<div class="banner100" id="check-stats">
  <h1>Check what locals think about this area:</h1>
</div>

<!-- New cards for stats -->
<div class="container" style="margin-bottom: 30px;">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <!-- first card -->
      <div class="card-stats">
        <div class="card-img-top">
          <h1><span>Community</span></h1>
          <%= image_tag("img-community.jpeg", class: "top") %>
        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_hands.png", width: '50') %>
          <h1>Friendly neighbours</h1>
          <h6> <span><%= @stats[:friendliness] %></span> </h6>

        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_event.png", width: '50') %>
          <h1>Activity and events organised</h1>
          <h6> <span><%= @stats[:events] %></span> </h6>
        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_5years.png", width: '50') %>
          <h1>I plan to live here >5 years</h1>
          <h6> <span><%= @stats[:stay] %></span> </h6>
        </div>
      </div>
    </div>

    <!-- second card -->
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-stats">
        <div class="card-img-top">
          <h1><span>Environment</span></h1>
          <%= image_tag("img-environment.jpg", class: "top") %>
        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_quiet.png", width: '50') %>
          <h1>Quiet place</h1>
          <h6> <span><%= @stats[:quiet] %></span> </h6>

        </div>

        <div class="stat-bar">
          <%= image_tag("question_environment.png", width: '50') %>
          <h1>Green place</h1>
          <h6> <span><%= @stats[:green] %></span> </h6>
        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_clean.png", width: '50') %>
          <h1>Clean place</h1>
          <h6> <span><%= @stats[:clean] %></span> </h6>
        </div>
      </div>
    </div>

    <!-- third card -->
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-stats">
        <div class="card-img-top">
          <h1><span>Facilities</span></h1>
          <%= image_tag("img-parking.png", class: "top") %>
        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_car.png", width: '50') %>
          <h1>Easy to park</h1>
          <h6> <span><%= @stats[:parking] %></span> </h6>

        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_parking.png", width: '50') %>
          <h1>Parking for cars</h1>
          <h6> <span><%= @stats[:cars] %></span> </h6>
        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_bike.png", width: '50') %>
          <h1>Parking for bikes</h1>
          <h6> <span><%= @stats[:bikes] %></span> </h6>
        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_tram.png", width: '50') %>
          <h1>Public transport</h1>
          <h6> <span><%= @stats[:transportation] %></span> </h6>
        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_bikepath.png", width: '50') %>
          <h1>Bike lanes</h1>
          <h6> <span><%= @stats[:bike_lanes] %></span> </h6>
        </div>
      </div>
    </div>

    <!-- fourth card -->
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-stats">
        <div class="card-img-top">
          <h1><span>Comfort</span></h1>
          <%= image_tag("img-clean-city.jpg", class: "top") %>
        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_street.png", width: '50') %>
          <h1>Pavements well maintained</h1>
          <h6> <span><%= @stats[:pavement] %></span> </h6>

        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_light.png", width: '50') %>
          <h1>Street well illuminated</h1>
          <h6> <span><%= @stats[:lightened] %></span> </h6>
        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_playground.png", width: '50') %>
          <h1>Nice playground</h1>
          <h6> <span><%= @stats[:playgrounds] %></span> </h6>
        </div>

        <div class="stat-bar">
          <%= image_tag("main_page_dog.png", width: '50') %>
          <h1>Dog friendly</h1>
          <h6> <span><%= @stats[:dog_friendly] %></span> </h6>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- ================== -->

<div class="banner100" style="height: 100px;">
  <%= link_to "Add your own Review!", new_search_review_path(:search_id => @search.id), class:"buttonNoFillGreen", style:"font-size: 2.5rem; width: 300px;margin:auto;" %>
</div>

<br><br>

<div class="banner201 img201-3">
  <h1>and get a feel of their lifestyle!</h1>
</div>

