<br><br>

<!-- New layout neighbourhood + commune -->

<div class="container" style="margin-bottom: 30px;">
  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <!-- first card -->
      <div class="card-neighbourhood">

        <div class="card-neighbourhood-bar">
          <h1><span>This neighborhood</span><br> general rating:</h1>
          <h6> <span><%= @stats[:street_average] %></span> </h6>
        </div>

        <h5><%= @search.address %></h5>
         <!-- (r = <%= @search.radius %>m) -->

        <div class="userImageSlider">
          <!-- NEW SLIDER (bootstrap carousel) -->
            <div id="myCarousel" class="carousel slide" style="margin: 0px 25px;">

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">

                <% counter = 0 %>

                <% if @reviews_in_radius.size == 0 %>
                  <div class="item active">
                  <%= cl_image_tag "https://res.cloudinary.com/kloshi/image/upload/v1544631385/foto_not_found.png", :width=>505, :crop => "fill", :alt=>"foto_not_found" %>
                  </div>
                  <% counter += 1 %>
                <% end %>

                <!-- iterate thru all the reviews and get the foto cropped! -->
                <% @reviews_in_radius.each do |r| %>

                <% if counter == 0 %>
                  <div class="item active">
                  <% counter += 1 %>
                <% else %>
                  <div class="item">
                <% end %>


                <% if r[:photo] == nil %>
                  <%= cl_image_tag "https://res.cloudinary.com/kloshi/image/upload/v1544631385/foto_not_found.png", :width=>505, :crop => "fill", :alt=>"foto_not_found" %>
                <% else %>
                  <%= cl_image_tag r.photo, :width=>505, :crop => "fill", :alt=>"street photo" %>
                <% end %>
                </div>

                <% end %>
                <!-- end of iteration on @reviews_in_radius -->

              </div>
              <!-- end carousel-inner -->

              <!-- Left and right controls -->
              <a class="left carousel-control" role="button">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" role="button">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- end myCarousel -->

        </div>
        <!-- end userImageSlider -->

        <!-- align left + link not working -->
        <p>
          <button type="button" class="buttonNoFill"><a href="#check-stats">See the stats...</a></button>
        </p>

      </div>
      <!-- end card-neighbourhood -->

    </div>
    <!-- end col -->

    <!-- second card -->
    <div class="col-xs-12 col-sm-6">
      <div class="card-neighbourhood">

        <div class="card-neighbourhood-bar">
          <h1><span>Surrounding commune</span><br> general rating:</h1>
          <h6> <span><%= @stats[:commune_average] %></span> </h6>
        </div>

        <h5><%= @commune.name %></h5>
        <p><strong>Commune description: </strong><%= @commune.description.truncate_words(50) %>
          <br><br>
          <button type="button" class="buttonNoFill" data-toggle="modal" data-target="#modalCommuneDesc"><a href="#">Read more...</a></button>
        </p>

      </div>
      <!-- end card-neighbourhood -->

    </div>
    <!-- end col -->

  </div>
  <!-- end row -->

</div>
<!-- end container -->

<br><br><br>

<script>
  // console.log("HELLO FROM THE CAROUSEL SCRIPT!!!")
  $(document).ready(function(){
    // Activate Carousel
    $("#myCarousel").carousel({interval: 2500});

    // Enable Carousel Controls
    $(".left").click(function(){
      $("#myCarousel").carousel("prev");
    });
    $(".right").click(function(){
      $("#myCarousel").carousel("next");
    });
  });
</script>


<!-- The Modal -->
<div class="modal fade" id="modalCommuneDesc">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"  >

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><h4> <strong> Commune of "<%= @commune.name %>" </strong> </h4></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p> <strong>Commune description:</strong> <%= @commune.description %> </p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!-- ================================== -->

