<div class="main_page-hero-image1">
  <div class="main_page-title">
    <h3> <strong> Discover your future neighbourhood ! </strong> </h3>
  </div>
</div>
<br>

<div class="row">
  <div class="col-xs-12">
    <div class="cardMap", style="display: flex">
      <!-- The map with the result; passing markers and radius via "data-xxxxx" -->
      <div id="map" style="width: 100%; height: 400px; padding-bottom: 25px;"
      data-marker="<%= @markers.to_json %>" data-radius="<%= @search.radius.to_i %>" >
    </div>

    <div class="MapInfos">

      <div class="searchBarTitle">
        <h3> <strong> Your neighbourhood... </strong> </h3>

        <div class="searchBarAddress">
          <div style="padding:15px, width: 600px">
            <%= form_tag(controller: "searches", action: "create", method: "post") do %>
            <%= text_field_tag :search, @search.address  %>
          </div>
        </div>

        <div class="searchRadiusTitle">
          <h4> playing with the radius </h4>
          <div class="searchRadius">
            <div style="padding:15px">
              <%= number_field_tag(:radius, @search.radius, min: 100, max: 2500, step: 100 ) %>
            </div>
          </div>

          <div class="buttonsMapInfos">
            <!-- corrected button-link to New search -->
            <div>
              <%= submit_tag("New Search", :class=>"btn btn-primary", :style=>"margin:15px") %>
              <% end %>
            </div>

            <div class="btn btn-primary", style="margin-left:15px">
              <%= link_to "Save Search", new_user_session_path %>
            </div>

            <!-- corrected link to posting new review -->
            <div>
              <!-- maybe add a condition: if user_logged_in  -->
              <%= link_to "Add Review", new_search_review_path(:search_id => @search.id, :class=>"btn btn-success", :style=>"margin:15px") %>
              <!-- if not logged: display "login to add review" and redirect to login -->
            </div>
          </div>
        </div>
      </div>

      <br><br><br><br>


      <!-- fetch zip code based on lat/lng and geocoder -->
      <% zip_code = Geocoder.search([@search.latitude, @search.longitude]).first.postal_code %>

      <h4>Address: <%= @search.address %> (<%= zip_code %>)</h4>
      <p>Radius <%= @search.radius / 1000.0 %> km</p>


      <hr>
      <!-- show the list of reviews in radius -->
      <ul>
        <% @reviews_in_radius.each do |r| %>

        <!-- MODAL FOR EACH REVIEW: each review has its unique id (e.g. id="reviewModal-12" %>-->
        <div class="modal fade" id="reviewModal-<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"> <%= r.street_review_title %> </h4>
              </div>
              <div class="modal-body">


                <table class="table">
                  <tbody>
                    <tr>
                      <td><strong>Address:</strong></td>
                      <td><%= r.address %> (<%= '%.02f' % r.distance_from(@search.address) %> km away)</td>
                    </tr>
                    <tr>
                      <td><strong>Post code:</strong></td>
                      <td><%= zip_code %> (<%= Commune.where(zip_code: zip_code).first.name %>)</td>
                    </tr>
                    <tr>
                      <td><strong>Review Street:</strong></td>
                      <td><%= r.street_review_content %></td>
                    </tr>
                    <tr>
                      <td><strong>From user:</strong></td>
                      <td><%= r.user.email %></td>
                    </tr>

                  </tbody>
                </table>

                <!-- replace with "r.photo" once photo is available: -->
                <div> <%= cl_image_tag r.photo, :width=>450, :alt=>"street photo" %> </div>
                <!-- <p> <%= image_tag("PhotoBxl.jpg", height: '100', width: '150')  %> </p> -->

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <li>
            <strong>Title: <%= r.street_review_title %></strong>
            <p>Address: <%= r.address %> (<%= '%.02f' % r.distance_from(@search.address) %> km away)</p>
            <% zip_code = Geocoder.search([r.latitude, r.longitude]).first.postal_code %>
            <p>Post code: <%= zip_code %> (<%= Commune.where(zip_code: zip_code).first.name %>) </p>
            <p>Commune description: <%= Commune.where(zip_code: zip_code).first.description %> </p>

            <p>Review Street: <%= r.street_review_content %></p>
            <p>User: <%= r.user.email %></p>
          </li>
          <% end %>
        </div>
      </ul>
      <!-- modal end -->


    </div>
  </div>
</div>
